{
  "parser": "babel-eslint",
  "root": true,
  "extends": ["plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "mocha": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "tabWidth": 4
      }
    ]
  }
}
