src/contracts/*
deploy.network
aws.json
backend/redisdata
accounts.json
**.DS_*
openzeppelin-solidity
zeppelin-solidity
package-lock.json
*.log
*.ens
*/*/*.abi
*/*/*.bytecode
*/*/*.address
*/*/*.run.xml
*/*/*.log.*
*/*/*.blockNumber
*/*.abi
*/*.bytecode
*/*.bib
*/*.address
*/*.run.xml
*/*.log.*
*/*.blockNumber
*/.clevis
*/*/.clevis
*/node_modules
/node_modules
public/reload.txt

**/*.blockNumber
**/*.head.address
**/*.previous.address
**/*.compiled
**/*.bytecode
**/*.abi
**/*.address
src/contracts
deploy.log
public/reload.txt
geth.log
react.log
